%div{style: "font-family: monospace;"}
  %div
    Welcome to #{ENV.fetch('MAILING_LIST_NAME')}!

  %br

  %div
    You have signed up for the following mailing lists:
    - @subscription_names.each do |s|
      %p
        = "-> #{s}".html_safe

  %br

  %div
    If you signed up, please click this link to confirm your email address:
    (NOTE: You will not receive invitations to anything while your email is unconfirmed!)
    %a{href: url_for(controller: 'users', action: 'confirm_email', code: @user.email_confirmation_code)}
      = url_for controller: 'users', action: 'confirm_email', code: @user.email_confirmation_code

  %br

  %div
    In the future, you may use this link to access your account page:
    %a{href: url_for(controller: 'users', action: 'show', uuid: @user.uuid)}
      = url_for controller: 'users', action: 'show', uuid: @user.uuid

  %br

  %div
    If you did not sign up then you can click this link to delete all record of your address:
    %a{href: url_for(controller: 'users', action: 'delete', uuid: @user.uuid)}
      = url_for controller: 'users', action: 'delete', uuid: @user.uuid
