%div{style: "font-family: monospace;"}
  %div
    Hello! You have been invited to an event!

  - if @user.vaccination_status < 2
    <br>
    <strong style="color: red;">We do not have your full vaccination on file.</strong>
    <br>
    Please bring or submit proof of full (boosted) vaccination in order to attend this event.
    <br>

  %div
    %p
      %strong
        When:
      #{@event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize} at %-l:%M%p")}
    - if @address
      %p
        %strong
          Where:
        #{@address.formatted_full_one_line}
        - if @address.special_instructions && @address.special_instructions.length > 0
          %p
            %strong
              Instructions:
            #{@address.special_instructions}
    %p
      %strong
        What:
      #{@event.description}
    %p
      %strong
        RSVP:
        = link_to "here", { controller: 'events', action: 'rsvp', uuid: @event.uuid, user_uuid: @user.uuid }

  %br

  %div
    \-----------------------------------------

  %br

  %div
    You can access your account settings #{link_to "here", { controller: 'users', action: 'show', uuid: @user.uuid}}.

  %div
    If you would like to delete your account and all associated history records, please click #{link_to "here", { controller: 'users', action: 'delete', uuid: @user.uuid}}.
