%div{style: "font-family: monospace;"}
  %div
    Hello! You have been invited to an event!

  %div
    %p
      %strong
        When:
      #{@event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize} at %-l:%M%p")}
    - if @address
      %p
        %strong
          Where:
        %a{href: @address.google_maps_link}
          #{@address.formatted_full_one_line}
        - if @address.special_instructions && @address.special_instructions.length > 0
          %p
            %strong
              Instructions:
            #{@address.special_instructions}
    %p
      %strong
        What:
      %div
        = @event.description.gsub("\n", "<br />").html_safe
    %p
      %strong
        RSVP:
        = link_to @rsvp_url, @rsvp_url

  %br

  %div
    \-----------------------------------------

  %br

  - if ENV.fetch('DISCORD_SERVER_LINK').length > 0
    %div
      %strong
        Join us on our #{link_to "Discord server", ENV.fetch('DISCORD_SERVER_LINK') }! That's where we organize other stuff like park picnics, bbqs, niche movie nights, puzzle nights, hiking, and more!

  %div
    You can access your account settings #{link_to "here", { controller: 'users', action: 'show', uuid: @user.uuid}}.

  %div
    If you would like to delete your account and all associated history records, please click #{link_to "here", { controller: 'users', action: 'delete', uuid: @user.uuid}}.
