Hi, sorry to bother you.
= "\r\n"

Something went wrong with your phone number and we couldn't text you.
= "\r\n"

We deleted your number from your profile and turned on emails (in case those were turned off).
= "\r\n"

Sometimes this happens if your replied STOP. Or if you mistyped your phone number and the actual owner replied STOP.
= "\r\n"

Anyway, feel free to try again. If the problem persists, shoot me an email!
= "\r\n"
