#user_form.form
  - if !@user.uuid
    .notice
      <strong>Please use a name that I'll recognize.</strong> I want to make sure I know who's getting these emails. &#9786;

  - elsif !@user.email_confirmed
    .notice.warning
      <strong>You have not confirmed your email address.</strong>
      Please check your inbox for a confirmation email.
      = link_to 'Resend?', { controller: 'users', action: 'resend_confirmation', uuid: @user.uuid }


  = form_for(user, url: submit_url) do |f|
    - if @user.errors.any?
      %ul#errors.notice.warning
        - @user.errors.full_messages.each do |err|
          %li
            =err

    .option.text
      = f.label :first_name
      = f.text_field :first_name

    .option.text
      = f.label :last_name
      = f.text_field :last_name

    .option.text
      = f.label :email_address
      = f.text_field :email_address

    - if admin
      .option
        =check_box :user, :email_confirmed
        =f.label "User's email address is confirmed"
      %br

    - if admin
      .option
        =check_box :user, :moderator
        =f.label "User is moderator"
      %br

    = f.hidden_field :admin, :value => admin

    .checkboxes
      = collection_check_boxes :user,
                               :subscription_list_ids,
                               SubscriptionList.all,
                               :id,
                               lambda {|l| "#{l.name} (#{l.description})"} do |b|
        .option
          = b.check_box
          = b.label

    - if user.uuid
      = f.hidden_field :uuid, :value => user.uuid
    .actions
      = f.submit 'Submit'
      - if user.uuid
        = link_to 'Delete My Account', { controller: 'users', action: 'delete', uuid: user.uuid }, id: 'delete'
      - else
        = link_to "Lost access to your account?", { controller: 'users', action: 'recover_account' }, id: 'recover'
