= render partial: 'admin_toolbar'

%h2 #{@user.name()} (#{@user.admin_confirmed ? bool_to_unicode(@user.admin_confirmed) : link_to("Confirm?", confirm_user_path(@user.uuid))})

- if @user.is_moderator
  .mod-badge
    %p Moderator

%div
  = form_tag(submit_vaccination_status_path) do |f|
    %strong Vaccination Status:
    = select_tag 'vaccination_status', options_for_select(@options_for_select, @existing_vacc_status_value), :onchange => 'this.form.submit()'
    = hidden_field(:user, :uuid, :value => @user.uuid)

%div
  %strong Email Address:
  = "#{@user.email_address} (#{bool_to_unicode(@user.email_confirmed)})"
  - if not @user.email_confirmed
    (#{link_to("Force confirm?", confirm_email_path(@user, code: @user.email_confirmation_code, admin: true))})

%div
  %strong Subscriptions:
  %ul
    - @subscriptions.each do |s|
      %li
        = s
%div
  %strong Activity:
  %ul
    %li
      Account age: #{DateTime.now.year * 12 + DateTime.now.month - (@user.created_at.year * 12 + @user.created_at.month)} months
    - if @events.count > 0
      %li
        Responses: #{(@rsvps.count * 1.0 / @events.count * 100).round}% (#{@rsvps.count}/#{@events.count})
      %li
        Attendance: #{(@rsvps.where(response: 1..).count * 1.0 / @events.count * 100).round}% (#{@rsvps.where(response: 1..).count}/#{@events.count})
    - else
      %li
        Responses: N/A
      %li
        Attendance: N/A

.form
  .actions
    = link_to 'Edit', { controller: 'users', action: 'edit', uuid: @user.uuid }
    = link_to 'Delete this user', { controller: 'users', action: 'admin_delete', uuid: @user.uuid }, id: 'delete'
