= render partial: 'admin_toolbar'

%h2 #{@user.name()} (#{@user.admin_confirmed ? bool_to_unicode(@user.admin_confirmed) : link_to("Confirm?", confirm_user_path(@user.uuid))})

- if @user.is_moderator
  .mod-badge
    %p Moderator

%div
  %strong Email Address:
  = "#{@user.email_address} (#{bool_to_unicode(@user.email_confirmed)})"
  - if not @user.email_confirmed
    (#{link_to("Force confirm?", confirm_email_path(@user, code: @user.email_confirmation_code, admin: true))})

%div
  %strong Subscriptions:
  %ul
    - @subscriptions.each do |s|
      %li
        = s

.form
  .actions
    = link_to 'Edit', { controller: 'users', action: 'edit', uuid: @user.uuid }
    = link_to 'Delete this user', { controller: 'users', action: 'admin_delete', uuid: @user.uuid }, id: 'delete'
