= render partial: 'admin_toolbar'

%h2 #{@user.name()} (#{@user.admin_confirmed ? bool_to_unicode(@user.admin_confirmed) : link_to("Confirm?", confirm_user_path(@user.uuid))})

%div
  %strong Email Address:
  = "#{@user.email_address} (#{bool_to_unicode(@user.email_confirmed)})"

%div
  %strong Subscriptions:
  %ul
    - @subscriptions.each do |s|
      %li
        = s

= link_to 'Delete this user', { controller: 'users', action: 'admin_delete', uuid: @user.uuid }
