= render partial: 'admin_toolbar'

%h2 All Users

%table
  %thead
    %tr
      %th Name
      %th Email Address
      %th #{"\u2709".encode('utf-8')}
      %th #{"\u2611".encode('utf-8')}

  %tbody
    - @users.each do |user|
      %tr{class: !user.admin_confirmed ? 'not-admin' : !user.email_confirmed ? 'not-email' : ''}
        %td.name
          = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
        %td
          = user.email_address
        %td.center
          = bool_to_unicode(user.email_confirmed)
        %td.center
          = bool_to_unicode(user.admin_confirmed)
