= javascript_include_tag 'event-form-flatpickr'

#event_form.form
  = form_for(event, url: submit_url) do |f|
    - if @event.errors.any?
      %ul#errors
        - @event.errors.full_messages.each do |err|
          %li
            =err

    .option.text
      = f.label :datetime
      = f.text_field :datetime

    .option.text
      = f.label :location
      = f.text_field :location

    .option.text
      = f.label :capacity
      = f.text_field :capacity

    .option.text.area
      = f.label :description
      = f.text_area :description

    -if not edit
      .radios
        = collection_radio_buttons :event,
                                   :subscription_list_id,
                                   SubscriptionList.all,
                                   :id,
                                   lambda {|l| "#{l.name} (#{l.description})"} do |b|
          .option
            = b.radio_button
            = b.label

    - if edit
      =check_box_tag :suppress_email
      =f.label "Supress update email"

    - if event.uuid
      = f.hidden_field :uuid, :value => event.uuid
    .actions
      = f.submit 'Submit'
      - if event.uuid
        = link_to 'Delete Event', { controller: 'events', action: 'delete', uuid: event.uuid }, id: 'delete'
