%p
  %strong Date:
  = event.datetime.strftime("%A, %B #{event.datetime.day.ordinalize}")

%p
  %strong Time:
  = event.datetime.strftime('%l:%M %p')

- if @address
  %p
    %strong Address:
    %a{href: @address.google_maps_link}
      #{@address.formatted_full_one_line}

  - if @address.special_instructions && @address.special_instructions.length > 0
    %p
      %strong Address Instructions:
      = @address.special_instructions

%div
  %strong Description:
  %div
    = event.description.gsub("\n", "<br />").html_safe

- if event.capacity
  %p
    %strong Capacity:
    = "#{event.capacity}"

%p
  %strong Responses:
  - if event.attendees > 0
    %br
    %span
      = "• Yes: #{event.attendees}"
  - if event.maybes > 0
    %br
    %span
      = "• Maybe: #{event.maybes}"
