= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'events', action: 'index'
  = link_to 'Edit', { controller: 'events', action: 'edit', uuid: @event.uuid }

%div
  %strong Public Link:
  = link_to 'Here', { controller: 'events', action: 'show', uuid: @event.uuid }


%div
  %strong Date:
  = @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}")

%div
  %strong Time:
  = @event.datetime.strftime('%l:%M %p')

%div
  %strong End:
  = @event.datetime_end.strftime('%l:%M %p')

- if @address
  %div
    %strong Address:
    = @address.formatted_full_one_line

  %div
    %strong Special Instructions:
    - if @address.special_instructions && @address.special_instructions.length > 0
      = @address.special_instructions

%div
  %strong List:
  = SubscriptionList.find(@event.subscription_list_id).name

%div
  %strong Description:
  = @event.description

%div
  %strong Total Event Guests:
  = "#{@event.attendees} Confirmed"

%div
  %strong Total Event Maybes:
  - maybe_count = Rsvp.where(event_id: @event.id).where('response = 0').count
  = "#{pluralize(maybe_count, 'Maybe')}"

- if @event.datetime > DateTime.now and @not_invited.count > 0
  %p
    = link_to "Invite #{pluralize(@not_invited.count, 'user')}!", { controller: 'events', action: 'syndicate_preview', uuid: @event.uuid }
- elsif @event.datetime > DateTime.now and @not_invited.count == 0
  %p
    All eligible users have been invited
- else
  %p
    Cannot syndicate past events.

-# Sorry about this huge, gross table.
%table
  - rsvps = Rsvp.where(event_id: @event.id).sort_by { |r| 0 - r.response }
  %tr.section-header
    %td{colspan: 99} Responsed
  - if rsvps.count > 0
    %tr.header-row
      %td Name
      %td Email Address
      %td Invited
      %td Response
    - rsvps.each do |r|
      - user = User.find(r.user_id)
      %tr
        %td
          = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
        %td
          = user.email_address
        %td
          = Syndication.where(event_id: @event.id, user_id: user.id).first.created_at.strftime('%Y-%m-%d %l:%M %p')
        %td.center
          = Rsvp::RESPONSE_STRINGS_BY_VALUE[r.response]
  - else
    %tr
      %td.center{colspan: 99} No RSVPs

  %tr.section-header
    %td{colspan: 99} Invited (But Not Responded)
  - if @invited.count > 0
    %tr.header-row
      %td Name
      %td Email Address
      %td Invited
      %td Resend
    - @invited.each do |user|
      %tr
        %td
          = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
        %td
          = user.email_address
        %td
          = Syndication.where(event_id: @event.id, user_id: user.id).first.created_at.strftime('%Y-%m-%d %l:%M %p')
        %td.center
          - if @event.datetime > DateTime.now
            = button_to 'Resend', invite_user_path, method: :get, params: { event_id: @event.id, user_id: user.id }

  - else
    %tr
      %td.center{colspan: 99} No Users

  %tr.section-header
    %td{colspan: 99} Not Invited (But Eligible)
  - if @not_invited.count > 0
    %tr.header-row
      %td Name
      %td Email Address
      %td
      %td Invite
    - @not_invited.each do |user|
      %tr
        %td
          = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
        %td
          = user.email_address
        %td
        %td.center
          - if @event.datetime > DateTime.now
            = button_to 'Invite', invite_user_path, method: :get, params: { event_id: @event.id, user_id: user.id }
  - else
    %tr
      %td.center{colspan: 99} No Users

  %tr.section-header
    %td{colspan: 99} Subscribed But Ineligible For Invitation
  - if @unconfirmed.count > 0
    %tr.header-row
      %td Name
      %td Email Address
      %td
      %td Missing
      - @unconfirmed.each do |user|
        %tr
          %td
            = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
          %td
            = user.email_address
          %td
          %td.relative
            -if not user.email_confirmed
              %span.absolute.unconfirmed.email{title: "User has not confirmed email address"} #{"\u{1F4E7}".encode('utf-8')}
            -if not user.admin_confirmed
              %span.absolute.unconfirmed.admin{title: "Admin has not confirmed user"} #{"\u{1F6E1}".encode('utf-8')}
  - else
    %tr
      %td.center{colspan: 99} No Users
