= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'events', action: 'index'

%div
  %strong Public Link:
  = link_to 'Here', { controller: 'events', action: 'show', uuid: @event.uuid }


%div
  %strong Date:
  = @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}")

%div
  %strong Time:
  = @event.datetime.strftime('%l:%M %p')

%div
  %strong Location:
  = @event.location

%div
  %strong List:
  = SubscriptionList.find(@event.subscription_list_id).name

%div
  %strong Description:
  = @event.description

%div
  %strong Total Event Guests:
  = "#{@event.attendees} Confirmed"

%div
  %strong Total Event Maybes:
  - maybe_count = Rsvp.where(event_id: @event.id).where('response = 0').count
  = "#{pluralize(maybe_count, 'Maybe')}"

- if @event.datetime > DateTime.now and @not_invited.count > 0
  %p
    = link_to "Invite #{pluralize(@not_invited.count, 'user')}!", { controller: 'events', action: 'syndicate_preview', uuid: @event.uuid }
- elsif @event.datetime > DateTime.now and @not_invited.count == 0
  %p
    All eligible users have been invited
- else
  %p
    Cannot syndicate past events.

-# Sorry about this huge, gross table.
%table
  %tr.section-header
    %td{colspan: 99} Responsed
  %tr.header-row
    %td Name
    %td Email Address
    %td Invited
    %td Response
  - rsvps = Rsvp.where(event_id: @event.id).sort_by { |r| 0 - r.response }
  - rsvps.each do |r|
    - user = User.find(r.user_id)
    %tr
      %td
        = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
      %td
        = user.email_address
      %td
        = Syndication.where(event_id: @event.id, user_id: user.id).first.created_at.strftime('%Y-%m-%d %l:%M %p')
      %td.center
        = Rsvp::RESPONSE_STRINGS_BY_VALUE[r.response]

  %tr.section-header
    %td{colspan: 99} Invited (But Not Responded)
  %tr.header-row
    %td Name
    %td Email Address
    %td Invited
    %td Resend
    - @invited.each do |user|
      %tr
        %td
          = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
        %td
          = user.email_address
        %td
          = Syndication.where(event_id: @event.id, user_id: user.id).first.created_at.strftime('%Y-%m-%d %l:%M %p')
        %td.center
          - if @event.datetime > DateTime.now
            = button_to "Resend", {}, :disabled => true, :title => 'Not yet implemented'

  %tr.section-header
    %td{colspan: 99} Not Invited (But Eligible)
  %tr.header-row
    %td Name
    %td Email Address
    %td
    %td Invite
  - @not_invited.each do |user|
    %tr
      %td
        = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
      %td
        = user.email_address
      %td
      %td.center
        - if @event.datetime > DateTime.now
          = button_to 'Invite', {}, :disabled => true, :title => 'Not yet implemented'

  %tr.section-header
    %td{colspan: 99} Subscribed But Ineligible For Invitation
  %tr.header-row
    %td Name
    %td Email Address
    %td
    %td Missing
    - @unconfirmed.each do |user|
      %tr
        %td
          = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
        %td
          = user.email_address
        %td
        %td.relative
          -if not user.email_confirmed
            %span.absolute.unconfirmed.email{title: "User has not confirmed email address"} #{"\u2709".encode('utf-8')}
          -if not user.admin_confirmed
            %span.absolute.unconfirmed.admin{title: "Admin has not confirmed user"} #{"\u2611".encode('utf-8')}
