%p
  = link_to 'Back', controller: 'events', action: 'index'

%p
  %strong Date:
  = @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}")

%p
  %strong Time:
  = @event.datetime.strftime('%l:%M %p')

%p
  %strong Location:
  = @event.location

%p
  %strong List:
  = SubscriptionList.find(@event.subscription_list_id).name

%p
  %strong Description:
  = @event.description

%p
  %strong Total Event Guests:
  = "#{@event.attendees} Confirmed"

%p
  %strong Total Event Maybes:
  - maybe_count = Rsvp.where(event_id: @event.id).where('response = 0').count
  = "#{pluralize(maybe_count, 'Maybe')}"

-# Table of RSVPs
- if Rsvp.where(event_id: @event.id).count > 0
  %p
  %table
    %thead
      %tr
        %th{colspan: 2}
          Responses
      %tr
        %th
          Name
        %th
          Response
    %tbody
      - Rsvp.where(event_id: @event.id).each do |r|
        %tr
          %td
            = User.find(r.user_id).name
          %td
            = Rsvp::RESPONSE_STRINGS_BY_VALUE[r.response]
- else
  %p
    Nobody has RSVPd to this event


-# Table of invited users who have not RSVPd
- if @invited.count > 0
  %p
  %table
    %thead
      %tr
        %th{colspan: 4}
          - if @event.datetime > DateTime.now
            Already Invited
          - else
            Invited
      %tr
        %th
          Name
        %th
          Email Address
        %th
          Invited
        - if @event.datetime > DateTime.now
          %th
            Resend
    %tbody
      - @invited.each do |s|
        %tr
          %td
            = s.name
          %td
            = s.email_address
          %td
            = Syndication.where(event_id: @event.id, user_id: s.id).first.created_at.strftime('%Y-%m-%d %l:%M %p')
          - if @event.datetime > DateTime.now
            %td.center
              = button_to 'Resend'
- elsif @event.datetime > DateTime.now
  %p
    Nobody has been invited to this event.
- else
  %p
    Nobody was invited to this event.

-# Table of not-yet-invited users who are eligible for invitations
- if @event.datetime > DateTime.now
  - if @not_invited.count > 0
    %table
      %thead
        %tr
          %th{colspan: 2}
            Not Yet Invited
        %tr
          %th
            Name
          %th
            Email Address
      %tbody
        - @not_invited.each do |s|
          %tr
            %td
              = link_to s.name, { controller: 'users', action: 'admin', uuid: s.uuid }
            %td
              = s.email_address

- if @event.datetime > DateTime.now
  %p
    = button_to "Invite #{pluralize(@not_invited.count, 'user')}!", { controller: 'events', action: 'syndicate', uuid: @event.id }
- else
  %p
    Cannot syndicate past events.

%div.flash.notice
  The following users either have uncofirmed accounts or have not confirmed |
    their email addresses. Invitations cannot be sent to users that meet one or |
    both of these conditions. |

-# Table of users who cannot be invited
- if @event.datetime > DateTime.now
  - if @unconfirmed.count > 0
    %p
    %table
      %thead
        %tr
          %th{colspan: 3}
            Unconfirmed users
        %tr
          %th
            Name
          %th #{"\u2709".encode('utf-8')}
          %th #{"\u2611".encode('utf-8')}
      - @unconfirmed.each do |s|
        %tr
          %td
            = link_to s.name, { controller: 'users', action: 'admin', uuid: s.uuid }
          %td.center
            = bool_to_unicode(s.email_confirmed)
          %td.center
            = bool_to_unicode(s.admin_confirmed)
