= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'events', action: 'edit', uuid: @event.uuid

%strong Delete event?

= render partial: 'event_public_information', locals: { event: @event }

.form
  = form_tag(soft_delete_event_path(@event.uuid), method: 'delete') do
    .option.text.area
      = label_tag :reason
      = text_area_tag :reason
    .actions
      = submit_tag 'Delete'
