= render partial: 'admin_toolbar'

%p
  = link_to 'New Event', { controller: 'events', action: 'new' }

- if @upcoming_events.length > 0
  %h2 Upcoming Events
  = render partial: 'event_table', locals: { events: @upcoming_events, editable: true }

- if @past_events.length > 0
  %h2 Past Events
  = render partial: 'event_table', locals: { events: @past_events, editable: false }

- if @deleted_events.length > 0
  %h2 Deleted Events
  = render partial: 'event_table', locals: { events: @deleted_events, editable: false }
