%p
  %strong Date:
  = @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}")

%p
  %strong Time:
  = @event.datetime.strftime('%l:%M %p')

%p
  %strong Description:
  = @event.description

%p
  %strong Total Event Guests:
  = "#{@event.attendees} Confirmed"

%p
  = form_tag(submit_event_rsvp_path) do |f|
    %strong RSVP:
    = select_tag 'RSVP', options_for_select(@options_for_select, @existing_rsvp_value)
    = hidden_field(:user, :uuid, :value => @user.uuid)
    = submit_tag "Submit"
