%p
  %strong Date:
  = @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}")

%p
  %strong Time:
  = @event.datetime.strftime('%l:%M %p')

%p
  %strong Description:
  = @event.description

%p
  %strong Guests:
  = "#{@rsvp_count} confirmed"
