%p
  %strong Date:
  = @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}")

%p
  %strong Time:
  = @event.datetime.strftime('%l:%M %p')

%p
  %strong Location:
  = @event.location

%p
  %strong Description:
  = @event.description

-if not @event.deleted
  %p
    %strong Guests:
    = "#{@event.attendees} Confirmed"
