= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'events', action: 'admin', uuid: @event.uuid

%h1 Invite users?

%h2 Event:
%div
  %strong Date:
  = @event.datetime.strftime("%A, %B #{@event.datetime.day.ordinalize}")

%div
  %strong Time:
  = @event.datetime.strftime('%l:%M %p')

- if @address
  %div
    %strong Address:
    = "#{@address.address_line_1}, "
    - if @address.address_line_2 && @address.address_line_2.length > 0
      = "#{@address.address_line_2}, "
    = "#{@address.city}, #{@address.state} #{@address.zip}"

  %div
    %strong Address Instructions:
    - if @address.special_instructions && @address.special_instructions.length > 0
      = @address.special_instructions

%div
  %strong List:
  = SubscriptionList.find(@event.subscription_list_id).name

%div
  %strong Description:
  = @event.description

%h2 Users:
%table
  - @users.each do |u|
    %tr
      %td #{u.name}
      %td #{u.email_address}

%br

= button_to 'Invite!', { controller: 'events', action: 'syndicate', uuid: @event.uuid}, {method: :get}
