= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'special_events', action: 'index'
  = link_to 'Edit', { controller: 'special_events', action: 'edit', uuid: @special_event.uuid }

%div
  %strong Date:
  = @special_event.datetime.strftime("%A, %B #{@special_event.datetime.day.ordinalize}")

%div
  %strong Time:
  = @special_event.datetime.strftime('%l:%M %p')

%div
  %strong End:
  = @special_event.datetime_end.strftime('%l:%M %p')

- if @address
  %div
    %strong Address:
    = @address.formatted_full_one_line

  %div
    - if @address.special_instructions && @address.special_instructions.length > 0
      %strong Special Instructions:
      = @address.special_instructions

%div
  %strong Description:
  = simple_format @special_event.description, nil, wrapper_tag: 'div'

%div
  %strong Total Event Guests:
  = "#{@special_event.attendees} Confirmed"

%div
  %strong Total Event Maybes:
  = "#{pluralize(@special_event.maybes, 'Maybe')}"

%div.special_events_form
  %strong Invite Some Peeps:

  = form_tag(invite_special_event_path, method: :post) do |f|
    = text_area_tag :addresses, @bad_addresses
    = submit_tag 'Invite'

%div.special_events_form
  %strong Invited Already:
