= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'special_events', action: 'index'
  = link_to 'Edit', { controller: 'special_events', action: 'edit', uuid: @special_event.uuid }

%div
  %strong Date:
  = @special_event.datetime.strftime("%A, %B #{@special_event.datetime.day.ordinalize}")

%div
  %strong Time:
  = @special_event.datetime.strftime('%l:%M %p')

%div
  %strong End:
  = @special_event.datetime_end.strftime('%l:%M %p')

- if @address
  %div
    %strong Address:
    = @address.formatted_full_one_line

  %div
    - if @address.special_instructions && @address.special_instructions.length > 0
      %strong Special Instructions:
      = @address.special_instructions

%div
  %strong Description:
  %br
  %pre.special_event_description
    = sanitize(@special_event.description)

%div
  %strong Total Event Guests:
  = "#{@special_event.attendees} Confirmed"

%div
  %strong Total Event Maybes:
  = "#{pluralize(@special_event.maybes, 'Maybe')}"

%div.special_events_form
  %br
  %strong Add Guests:

  = form_tag(special_event_add_guests_path, method: :post) do |f|
    = text_area_tag :addresses, @bad_addresses
    = submit_tag 'Add Guests'

%div.special_events_form
  -if @uninvited.length > 0
    %br
    %strong Not Yet Invited:
    %table
      %thead
        %th Email Address
        %th Invite
      %tbody
        - @uninvited.each do |guest|
          %tr
            %td
              = guest.email_address
            %td
              - if @special_event.datetime > DateTime.now
                = button_to 'Invite', special_invite_guest_path, method: :get, params: { special_event_id: @special_event.id, email_address: guest.email_address}
    - if @special_event.datetime > DateTime.now
      %br
      = button_to 'Invite Everyone!', special_invite_guests_path, method: :get, params: { special_event_id: @special_event.id }

  -if @invited.length > 0
    %br
    %strong Invited:
    %table
      %thead
        %th Email Address
        %th RSVP
      %tbody
        - @invited.each do |guest|
          %tr{class: ['rsvp', Rsvp::RESPONSE_STRINGS_BY_VALUE[guest.rsvp]]}
            %td
              = guest.email_address
            %td
              = form_tag(submit_special_event_rsvp_path) do |f|
                = select_tag 'RSVP', options_for_select(@options_for_rsvp_select, guest.rsvp), :onchange => 'this.form.submit()'
                = hidden_field(:guest, :email_address, :value => guest.email_address)
