= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'addresses', action: 'edit', id: @address.id

%strong Delete address:
%p #{@address.formatted_full_one_line}

%p.warning.flash
  %em "This event is used in #{@future_event_count} future events. These events will be left with NO address."

%p.notice.flash
  %em "This event is used in #{@past_event_count} past eventse

= button_to 'Delete', { controller: 'addresses', action: 'destroy', id: @address.id }, {method: :delete, id: 'delete-confirm'}
