= render partial: 'admin_toolbar'

%p
  = link_to 'New List', { controller: 'subscription_lists', action: 'new' }

%br
%br

%table.lists
  %thead
    %tr
      %th.name Name
      %th.description Description
      %th.subscribers Subs
      %th.edit Edit
  %tbody
    - @lists.each do |l|
      %tr
        %td.name
          = link_to l.name, { controller: 'subscription_lists', action: 'show', id: l.id }
        %td.description
          = l.description
        %td.subscribers
          = l.subscriptions.count
        %td.edit
          = link_to 'Edit', { controller: 'subscription_lists', action: 'edit', id: l.id }
