= render partial: 'admin_toolbar'

%br
%br
.flash.notice
  Note that deleting a list will permanently delete all associated events and
  subscriptions.  There is no soft delete and no undo.
%br

-@lists.each do |list|
  .form
    = form_for(list, url: update_list_url, method: 'post') do |f|
      .option.text
        = f.label :name
        = f.text_field :name, value: list.name
      .option.text
        = f.label :description
        = f.text_field :description, value: list.description
      = f.hidden_field :id, :value => list.id
      = f.submit "#{list.name ? 'Update' : 'Create'}"
      - if list.id
        = button_to 'Delete', { controller: 'subscription_lists', action: 'delete', id: list.id }, {method: :delete}
    %br
    %br
