= render partial: 'admin_toolbar'

%br

%p
  = link_to 'Back', controller: 'subscription_lists', action: 'index'
  = link_to 'Edit', { controller: 'subscription_lists', action: 'edit', id: @list.id }

%h2 #{@list.name}
%p #{@list.description}

%table.users
  %thead
    %tr
      %th Name
      %th Email Address
      %th #{"\u{1F4E7}".encode('utf-8')}
      %th #{"\u{1F6E1}".encode('utf-8')}

  %tbody
    - @users.each do |user|
      %tr{class: !user.admin_confirmed ? 'not-admin' : !user.email_confirmed ? 'not-email' : ''}
        %td
          = link_to user.name, { controller: 'users', action: 'admin', uuid: user.uuid }
        %td
          = user.email_address
        %td.center
          = bool_to_unicode(user.email_confirmed)
        %td.center
          = bool_to_unicode(user.admin_confirmed)

